<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/147e0b41-aec0-4d7d-b6f8-5d5cdf93667d/resourceGroups/AISolution/providers/Microsoft.Web/sites/AIDocAssitant</ResourceId>
    <ResourceGroup>AISolution</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aidocassitant-axbmbxg9bjazfwgq.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bace6784-eddb-4170-baae-ae77d5de2c81</ProjectGuid>
    <PublishUrl>https://aidocassitant-axbmbxg9bjazfwgq.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$AIDocAssitant</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>